.card {
  background-color: var(--dark-grayish-blue);
  border-radius: 10px;
  padding: 50px 20px;
  position: relative;
}

.svg-patern {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dice {
  position: absolute;
  left: calc(50% - 29px);
  bottom: 25px;
  transform: translateX(-50%);
  cursor: pointer;
}

.icon-dice svg {
  position: absolute;
  z-index: 2;
  left: 17px;
  top: 18px;
}

.icon-dice::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  display: block;
  background-color: var(--primary-green);
  border-radius: 100%;
}

.icon-dice:hover::after {
  background-color:var(--primary-cian);
}

.display-mobile {
  display: none;
}

@media (max-width: 767px) {
  .display-desktop {
    display: none;
  }
  .display-mobile {
    display: block;
  }

  .card {
    width: 90%;
  }
  h2 {
    font-size: 1.2rem;
  }
}
